<%- include("header") -%>
    <main>
        <form action="/<%= titulo %>" method="post">
            <div class="inputs">
                <input id="input" type="text" name="novoItem">
                <button type="submit" name="botao" value=<%= titulo %>>+</button>
            </div>
        </form>
        <div class="lista">
            <ul>
                <% itens.forEach((_)=>{ %>
                    <div class="item">
                        <input type="checkbox">
                        <li><%= _.texto %></li>
                        <form action="/deletar" method="post">
                            <button class="excluir" value="<%= _._id %>" name="btndeletar" type="submit">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            
                        </form>
                        
                    </div>
                    <hr>
                <% }) %>
            </ul>
        </div>
    </main>
<%- include("footer") -%>